<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
	<title>Nikkei - Demo</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
 crossorigin="anonymous"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<section class="spacing-page edit-page">
		<div class="container">
			<h2 class="text-center font-weight-bold">[[${pageTitle}]]</h2>
			<div class="my-3">
				<form th:action="@{/demo/save}" method="post" enctype="multipart/form-data" th:object="${tutorial}" class="form-edit">
					<!-- Tab links -->
					<ul class="nav nav-tabs mt-3">
						<li class="nav-item"><a href="#home" class="nav-link" th:classappend="${#httpServletRequest.getParameter('is_result') != null} ? '' : 'active'" data-bs-toggle="tab">入力・生成</a></li>
						<li class="nav-item"><a href="#aboutus" class="nav-link" th:classappend="${#httpServletRequest.getParameter('is_result') != null} ? 'active' : ''" data-bs-toggle="tab">結果・編集</a></li>
					</ul>
					<!-- Tab links -->
					<!-- tab 1 -->
					<div class="tab-content">
						<div class="tab-pane fade"  th:classappend="${#httpServletRequest.getParameter('is_result') != null} ? '' : 'active show'" id="home">
							<input type="hidden" th:field="*{id}" />
							<div class="p-3">
								<div class="form-group row">
									<label class="col-sm-1 col-form-label font-weight-bold" for="title">ID</label>
									<div class="col-sm-5">
										<input type="text" th:field="*{id}" class="form-control" disabled id="id" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-1 col-form-label font-weight-bold pr-0" for="title">タイトル</label>
									<div class="col-sm-5">
										<input type="text" th:field="*{title}" required maxlength="255" class="form-control"
											id="title" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-1 col-form-label font-weight-bold pr-0" for="major">業界</label>
									<div class="col-sm-5">
										<input type="text" step="1" th:field="*{major}" class="form-control" id="major" />
									</div>
								</div>
	
								<div class="form-group row">
									<label class="col-sm-1 col-form-label font-weight-bold" for="createNumber">作成数</label>
									<div class="col-sm-2">
										<input type="number" step="1" th:field="*{createNumber}" required min="1"
											class="form-control" id="createNumber" />
									</div>
								</div>
	
								<div class="form-group row">
									<label class="col-sm-1 col-form-label font-weight-bold" for="contentNumber">文字数</label>
									<div class="col-sm-2">
										<input type="number" step="1" th:field="*{contentNumber}" required min="1"
											class="form-control" id="contentNumber" />
									</div>
								</div>
								<!-- QA -->
								<!-- row 1 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question1">質問１</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question1" id="question1" th:field="*{question1}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 1 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer1">回答１</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer1" id="answer1" th:field="*{answer1}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 1 - col-sm-6-->
								</div>
								<!-- row 2 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question2">質問２</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question2" id="question2" th:field="*{question2}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 2 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer2">回答２</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer2" id="answer2" th:field="*{answer2}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 2 - col-sm-6-->
								</div>
								<!-- row 3 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question3">質問３</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question3" id="question3" th:field="*{question3}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 3 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer3">回答３</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer3" id="answer3" th:field="*{answer3}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 3 - col-sm-6-->
								</div>
								<!-- row 4 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question4">質問４</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question4" id="question4" th:field="*{question4}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 4 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer4">回答４</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer4" id="answer4" th:field="*{answer4}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 4 - col-sm-6-->
								</div>
								<!-- row 5 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question5">質問５</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question5" id="question5" th:field="*{question5}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 5 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer5">回答５</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer5" id="answer5" th:field="*{answer5}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 5 - col-sm-6-->
								</div>
								<!-- row 6 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question6">質問６</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question6" id="question6" th:field="*{question6}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 6 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer6">回答６</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer6" id="answer6" th:field="*{answer6}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 6 - col-sm-6-->
								</div>
								<!-- row 7 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question7">質問７</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question7" id="question7" th:field="*{question7}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 7 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer7">回答７</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer7" id="answer7" th:field="*{answer7}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 7 - col-sm-6-->
								</div>
								<!-- row 8 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question8">質問８</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question8" id="question8" th:field="*{question8}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 8 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer8">回答８</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer8" id="answer8" th:field="*{answer8}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 8 - col-sm-6-->
								</div>
								<!-- row 9 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="question9">質問９</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question9" id="question9" th:field="*{question9}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 9 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center">
												<label class="font-weight-bold mb-0" for="answer9">回答９</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer9" id="answer9" th:field="*{answer9}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 9 - col-sm-6-->
								</div>
								<!-- row 10 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question10">質問１０</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question10" id="question10" th:field="*{question10}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 10 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer10">回答１０</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer10" id="answer10" th:field="*{answer10}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 10 - col-sm-6-->
								</div>
								<!-- row 11 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question11">質問１１</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question11" id="question11" th:field="*{question11}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 11 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer11">回答１１</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer11" id="answer11" th:field="*{answer11}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 11 - col-sm-6-->
								</div>
								<!-- row 12 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question12">質問１２</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question12" id="question12" th:field="*{question12}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 12 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer12">回答１２</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer12" id="answer12" th:field="*{answer12}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 12 - col-sm-6-->
								</div>
								<!-- row 13 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question13">質問１３</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question13" id="question13" th:field="*{question13}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 13 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer13">回答１３</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer13" id="answer13" th:field="*{answer13}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 13 - col-sm-6-->
								</div>
								<!-- row 14 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question14">質問１４</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question14" id="question14" th:field="*{question14}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 14 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer14">回答１４</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer14" id="answer14" th:field="*{answer14}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 14 - col-sm-6-->
								</div>
								<!-- row 15 -->
								<div class="form-group row mb-customize">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="question15">質問１５</label>
											</div>
											<div class="col-sm-10">
												<textarea name="question15" id="question15" th:field="*{question15}" class="w-100"></textarea>
												</div>
										</div>
									</div>
									<!-- row 15 - col-sm-6-->
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-2 d-flex align-items-center pr-0">
												<label class="font-weight-bold mb-0" for="answer15">回答１５</label>
											</div>
											<div class="col-sm-10">
												<textarea name="answer15" id="answer15" th:field="*{answer15}" class="w-100"></textarea>
											</div>
										</div>
									</div>
									<!-- row 15 - col-sm-6-->
								</div>
							</div>
							<!-- tab 1 -->
						</div>
						<!-- tab 2 -->
						<div class="tab-pane fade"  th:classappend="${#httpServletRequest.getParameter('is_result') != null} ? 'active show' : ''" id="aboutus">
							<!-- result -->
							<div class="form-group row">
								<div class="col-sm-12 p-3">
									<textarea type="text" th:field="*{result}" class="form-control" rows="19"
										id="result"> </textarea>
								</div>
							</div>
						</div>
						<!-- tab 2 -->
					</div>
					
					<div class="text-center">
						<input type="submit" name="save"  id="save" value="保存" class="btn btn-primary btn-sm mr-2 btn-customize" />
						<input type="submit" name="saveandcall" value="プレスリリース生成 " id="saveandcall" class="btn btn-primary btn-sm mr-2 btn-customize" />
						<input type="button" value="キャンセル" id="btnCancel" class="btn btn-secondary btn-sm" />
					</div>
			</div>
			</form>
		</div>
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>
	</section>
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
		// btn cancer
		$(document).ready(function () {
			$("#btnCancel").on("click", function () {
				window.location = "[[@{/demo}]]";
			});

		});
		jQuery(function($){
		$(document).ajaxSend(function() {
			$("#overlay").fadeIn(300);　
		});
				
		$('#saveandcall').click(function(){
			$.ajax({
			type: 'GET',
			success: function(data){
				console.log(data);
			}
			}).done(function() {
			setTimeout(function(){
				$("#overlay").fadeOut(300);
			},30000);
			});
		});	
		});
	</script>
</body>
</html>